{% extends 'master' %}

{% block content %}

<h2>Bejegyzések</h2>

{% if old('error') %}
<div class="alert alert-danger" role="alert">
{{ old('error') }}
</div>
{% endif %}

<form class="form-horizontal" action="/messages/filter" method="POST">
{{ csrfField }}
<select id="filter" name="filter">
  <option value="">Minden bejegyzés</option>
  <option value="own">Saját bejegyzések</option>
  <option value="commented">Kommentált bejegyzések</option>
  <option value="statement">Közlemények</option>
</select>
 <button type="submit" class="btn">Szűrés</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th>Érvényesség</th>
      <th>Beküldő</th>
      <th>Cím</th>
    </tr>
  </thead>
   <tbody>
    {% for statement in activeStatements %}
        <tr>
          <td>{{statement.deadline}}</td>
          <td>{{users[statement.user_id]}}</td>
          <td><a href="../statement/{{ statement.id }}">{{statement.title}}</a></td>
          </tr>
  {% endfor %}
  {% for message in messages %}
    {% if message.status == true %}
        <tr>
          <td>"Aktív"</td>
          <td>{{ users[message.user_id] }}</td>
          <td><a href="../message/{{ message.id }}">{{message.title}}</a></td>
          </tr>
      {% endif %}
  {% endfor %}
  {% for message in messages %}
  {% if message.status == false %}
        <tr>
          <td>"Megoldott"</td>
          <td>{{ users[message.user_id] }}</td>
          <td><a href="../message/{{ message.id }}">{{message.title}}</a></td>
          </tr>
      {% endif %}
  {% endfor %}
    {% for statement in oldStatements %}
        <tr>
          <td>{{statement.deadline}}</td>
          <td>{{users[statement.user_id]}}</td>
          <td><a href="../statement/{{ statement.id }}">{{statement.title}}</a></td>
          </tr>
  {% endfor %}
  </tbody>
</table>

<!--
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
-->
{% endblock %}