{% extends 'master' %}

{% block content %}
<h2>{{ message.title }}</h2>
<div class="datasheet">
    <div class="well well-lg">
    <div class="media">
    <div class="media-right">
        <a href="#">
            {% if message.picture != "nopicture.jpg" %}
        <img class="media-object" src= {{ message.picture }} alt="...">
        {% endif %}
        </a>
    </div>
    <div class="media-body">
        {% if message.status == true %}
            <h2>Aktív</h2>
        {% else %}
            <p>Megoldott</p>
        {% endif %}
        <p>{{ message.user.name }}<br>
        {{ message.created_at }}</p>
    </div>
    {% if currentUser.id == 1 %}
         <a href="/message/{{ message.id }}/edit"><button class="btn btn-warning" align: right>Bejegyzés szerkesztése</button></a>
    {% endif %}
    </div>
</div>
<p>{{ message.text }}</p>
</div>
<h3>Hozzászólások:</h3>
{% for comment in comments %}
<div class="datasheet">
    <div class="well well-lg">
    <div class="media">
    <p>{{ users[comment.user_id] }}, {{ comment.created_at }}</p>
    <p>{{ comment.text }}</p>
    </div></div>
</div>
{% endfor %}
<form action="/message/{{ message.id }}/comment" method="POST">
    {{ csrfField }}
    <div class="form-group">
    <label for="comment" class="col-sm-2 control-label">Hozzászólás:</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="comment" name="text" rows=4 ></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-success">Hozzászólás küldése</button>
    </div>
  </div>   
</form>
{% endblock %}