{% extends 'master' %}

{% block content %}
<h2>{{ message.title }}</h2>
<div class="datasheet">
    <div class="well well-lg">
    <div class="media">
    <div class="media-right">
        <a href="#">
        <img class="media-object" src= {{ message.picture }} alt="...">
        </a>
    </div>
    <div class="media-body">
        {% if message.status == true %}
            <p>Aktív</p>
        {% else %}
            <p>Megoldott</p>
        {% endif %}
        <p>{{ message.user }}</p>
        <p>{{ message.date }}</p>
    </div>
    </div>
</div>
<p>{{ message.text }}</p>
</div>

{% for comment in message.comments %}
<div class="datasheet">
    <p>{{ comment.user }} +" , " + {{ comment.date }}</p>
    <p>{{ comment.text }}</p>
</div>
{% endfor %}
<form action="/message/{{ message.id }}/comment" method="POST">
    {{ csrfField }}
    <div class="form-group">
    <label for="comment" class="col-sm-2 control-label">Hozzászólás:</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="comment" name="comment" rows=4 ></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-success">Hozzászólás küldése</button>
    </div>
  </div>   
</form>
{% endblock %}