<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">

    <title>Regisztráció</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/ie10-viewport-bug-workaround.css"> 

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet"> 

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

   <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Bejegyzéskezelő</h3>
            </div>
          </div>

        {% if old('errors') %}
        <div class="alert alert-danger" role="alert">
            <ul>
            {% for error in old('errors') %}
            <li>{{ error.message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        
          <div class="inner cover">
            <h1 class="cover-heading">Regisztráció</h1><br>
            <form class="form-horizontal" action="/register" method="POST" id="regForm">
            {{ csrfField }}
            <div class="form-group">
              <label for="inputEmail" class="col-sm-2 control-label">E-mail cím</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" name="email" value="{{ old('email') }}">
              </div>
            </div>
            <div class="form-group">
              <label for="inputName" class="col-sm-2 control-label">Név</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" name="name" value="{{ old('name') }}">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-2 control-label">Jelszó</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="password">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPasswordAgain" class="col-sm-2 control-label">Jelszó megint</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPasswordAgain" name="password_again">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Mehet</button>
              </div>
            </div>
          </form>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>