{% extends 'master' %}

{% block content %}
<h2>{{ statement.title }}</h2>
<div class="datasheet">
    <div class="well well-lg">
    <div class="media">
    <div class="media-right">
        <a href="#">
            {% if statement.picture != "nopicture.jpg" %}
        <img class="media-object" src={{ statement.picture }} alt="...">
        {% endif %}
        </a>
    </div>
    <div class="media-body">
        <p>{{ statement.deadline }}</p>
    </div>
    </div>
</div>
<p>{{ statement.text }}</p>
</div>
{% endblock %}